<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>This website was blocked!</title>
   
        <link href="../bootstrap/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            header {padding-top: 10px;}
            footer {padding-bottom: 10px;}
            header, footer {width: 100%;}
            #content .row {height: 100%;}
            body {min-height: 100%; display: grid; grid-template-rows: auto 1fr auto; background-color: #222222;}
            html {box-sizing: border-box; height: 100%; padding: 0; margin: 0;}
            h1,h2,h3 { color: #ffffff;}
        </style>
    </head>
    <body>
        <header class="container">

        </header>

        <div id="content" class="container text-center">         
                
            <div class="row align-items-center">
                <div class="col-12">
                    <img src="../icons/icon-48.png" alt="BetterBrowerSec icon, a person under an umbrella"/>
                    <h1>The domain you tried to access was blocked by BetterBrowerSec</h1>
                    <h3>Please use the extension toolbar button if you are sure you want to access it.</h3>
                </div>      
            </div>
        </div>
    
        <footer class="container text-center">
            <!-- Ko-Fi widget if anyone wants to support -->
            <a href='https://ko-fi.com/B0B0KPMZV' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi1.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
        </footer>

        <!-- Bootsrap for quick design (js) -->
        <script src="../bootstrap/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
